@font-face {
	  font-family: "SF Display";
	  font-weight: 800;
	  src: url(../fonts/SF-Pro-Display-Heavy.otf);
}
@font-face {
	  font-family: "SF Display Regular";
	  font-weight: 400;
	  src: url(../fonts/SF-Pro-Display-Regular.otf);
}
@font-face {
	  font-family: "SF Display Bold";
	  font-weight: 700;
	  src: url(../fonts/SF-Pro-Display-Bold.otf);
}
@font-face {
	font-family: 'SF UI Display';
	src: url('../fonts/SFUIDisplay-Thin.eot');
	src: local('SF UI Display Thin'), local('SFUIDisplay-Thin'),
		url('../fonts/SFUIDisplay-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SFUIDisplay-Thin.woff') format('woff'),
		url('../fonts/SFUIDisplay-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
*{
	margin: 0;
	padding: 0;
}
ul{
	margin: 0;
	padding: 0;
}
.clearfix {
 	clear: both;
 } 
 body{
 	overflow-x: hidden;
 }

.header{
	background: url('../img/bg.jpg') no-repeat top center;
	min-height:  500px;
  
}
.wrapper{
	margin: 0 auto;
	width: 960px;
}
.top{
	display: block;
	width: 100%;
	height:  auto;
}
.menu{
	float: right;
	margin-right: -8px;
}
.menu_li {
 	display: inline-block;
  	margin-top: 17px;
    margin-left: 57px;
}
.menu_a{
	color: #fff;
	font-size: 18px;
	border-bottom: 1px dashed rgba(255,255,255,.5);
	padding-bottom: 5px;
	text-decoration: none;
}
.descr__width{
	width: 610px;
	margin: 0 auto;
}
.descr{
	color: #ffffff;
	margin-top: 86px;
}
.descr__title_start{
	margin-top: 66px;
    margin-bottom: 0;
}
.descr_h1:before{
	content: "<title>";
	
	position: absolute;
	margin-top: -27px;
    margin-left: 5px;
  font-size: 16px;
  font-family: "SF Pro Display";
  color: rgb(255, 255, 255);
}

.descr_h1{
	position: relative;
	padding-left: 43px;
	color: #ffffff;
	font-family: "SF Display";
	font-size: 100px;
	font-weight: 400;
	margin-top: 28px;
	margin: 0;
}
.descr_h1:after{
	content: "</title>";
	position: absolute;
	margin-top: 160px;
    margin-left: -522px;
  font-size: 16px;
  font-family: "SF Pro Display";
  color: rgb(255, 255, 255);
}

.descr_h2{
	font-family: SF Display Regular;
	
	height: 27px;
	color: #ffffff;
	font-size: 30px;
	font-weight: 400;
	margin-top: -4px;
	margin-left: 176px;
}
.button{
	width: 164px;
	text-align: center;
	text-decoration: none;
	height: 38px;
	background-color: #ffffff;
    cursor: pointer;
    border: none;
    float: right;
    margin-top: 19px;
    margin-right: -28px;
   	position: relative;
 }
 .form__hidden{
 	display: none;
 }
 .button::after{
 	content: '';
 	position: absolute;
 	left: 164px;
 	bottom: 0px;
 	border: 19px solid transparent;	
 	border-left: 20px solid white;
	
 }
 .modal_p{
 	display: inline-block;
 	margin: 11px;
	color: #333333;
	font-family: "SF Pro Display";
	font-size: 16px;
	font-weight: 400
 }
 .avatar{
 	display: block;
 	width: 300px;
	height: 300px;
 	margin: 0 auto;
 	margin-top: -150px;
 	box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.3);
 	border-radius:  50%;
 	position:  relative;
 	z-index: 5;
 }
.text{
	position: relative; /* добавил*/
	width: 960px;
	margin: 0 auto;
	margin-top: 70px;
}
.arrow_left{
	cursor: pointer;
	display: inline-block;
	position: absolute;
	left: -23px;
    top: 124px;
}
.arrow_right{
	cursor: pointer;
	display: inline-block;
	position: absolute;
	right: -12px;
    top: 124px;
}
.img-skittles{
	position: absolute;
	left: -390px;
    top: 331px;
}
.img-diskette{
    position: absolute;
        right: -318px;
    top: 731px;
}
.text__title{
	color: #333333;
	font-family: "SF Pro Display";
	font-size: 18px;
	font-weight: 700;
}
.text__wrapper:before{
content: '<о себе>';
position: absolute;
color: #333333;
	font-family: "SF Pro Display";
	font-size: 18px;
	font-weight: 700;
	margin-top: -41px;
    margin-left: -90px;

}

.text__wrapper{
	position: relative;
	margin-left: 90px;
    margin-top: 110px;
}
.text__wrapper:after{
content: '</о себе>';
position: absolute;
color: #333333;
	font-family: "SF Pro Display";
	font-size: 18px;
	font-weight: 700;
	margin-top: -41px;
    margin-left: -90px;
}
.text__p{
	color: #333333;
	font-family: "SF Pro Display";
	font-size: 18px;
	font-weight: 700;
}
.text__descr{
	font-family: 'SF UI Display';
	margin-top: 24px;
	color: #333333;
	font-size: 16px;
	line-height: 1.5;

}
.text__func{
	font-family: 'SF UI Display';
	margin-top: 25px;
}
.text__func_wrapper{
	font-family: 'SF UI Display';
	margin-left: 17px;
}
.text__func_li{
	margin-top: 13px;
}
.text__p_closed{
	margin-top: 24px;
	color: #333333;
	font-family: "SF Pro Display";
	font-size: 18px;
	font-weight: 700;
}
.text__skills{
	margin-top: 40px;
	color: #333333;
	font-family: "SF Pro Display";
	font-size: 18px;
	font-weight: 700;
}
.text__skills_wrapper{
	margin-top: 29px;
}
.text__skills_one{
	width: 710px;
	height: 40px;
	border-radius: 5px;
	background-color: #333333;
}
.text__skills_onew{
	width: 50px;
	height: 13px;
	color: #ffffff;
	font-family: SF Display Regular;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 14px 645px 13px 15px;
}
.text__skills_two{
	margin-top: 20px;
	width: 550px;
	height: 40px;
	border-radius: 5px;
	background-color: #333333;
}
.text__skills_twow{
	width: 84px;
	height: 15px;
	color: #ffffff;
	font-family: SF Display Regular;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 14px 452px 11px 14px;
}
.text__skills_three{
	margin-top: 20px;
	width: 390px;
	height: 40px;
	border-radius: 5px;
	background-color: #333333;
}
.text__skills_threew{
	width: 72px;
	height: 16px;
	color: #ffffff;
	font-family: SF Display Regular;
	font-size: 16px;
	font-weight: 400;
	padding: 14px 304px 10px 14px;
}
.text__skills_four{
	margin-top: 20px;
	width: 607px;
	height: 40px;
	border-radius: 5px;
	background-color: #333333;
}
.text__skills_fourw{
	padding: 14px 520px 11px 15px;
	width: 72px;
	height: 15px;
	color: #ffffff;
	font-family: SF Display Regular;
	font-size: 16px;
	font-weight: 400;
}
.text__skills_five{
	margin-top: 20px;
	width: 150px;
	height: 40px;
	border-radius: 5px;
	background-color: #333333;
}
.text__skills_fivew{
	padding: 14px 107px 13px 15px;
	width: 28px;
	height: 13px;
	color: #ffffff;
	font-family: SF Display Regular;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}
.back{
  background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(255,255,255) 0%, rgb(255,255,255) 0%, rgb(255,255,255) 0%, rgb(246,246,246) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(255,255,255) 0%, rgb(255,255,255) 0%, rgb(255,255,255) 0%, rgb(246,246,246) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(255,255,255) 0%, rgb(255,255,255) 0%, rgb(255,255,255) 0%, rgb(246,246,246) 0%, rgb(255,255,255) 100%);
  	padding-bottom: 130px;
    margin-top: -70px;
    padding-top: 70px;
}
.skills_white_one{
	width: 870px;
	height: 40px;
	border-radius: 5px;
	background-color: #ffffff;
}
.text__skills_close{
	margin-top: 29px;
	color: #333333;
	font-family: "SF Pro Display";
	font-size: 18px;
	font-weight: 700;
}
.text__title_close{
	margin-top: 29px;
	color: #333333;
	font-family: "SF Pro Display";
	font-size: 18px;
	font-weight: 700;
}
.portfolio__wrapper{
	margin: 0 auto;
	width: 960px;
	 margin-top: 140px;
}
.portfolio-li{
	cursor: pointer;
	list-style-type: none;
	display: inline-block;
	margin-right: 40px;
	color: #9b9b9b;
	font-size: 18px;
}
.active{
	font-weight: bold;
	color: #333333;
}
.portfoli__text{
	float: left;
}
.portfolio-line{
	width: 960px;
	height: 1px;
	background-color: #000000;
	margin: 0 auto;
	margin-top: 6px;
}
.wrapper-img{
	margin: 0 auto;
	width: 940px;
	margin-top: 40px;

}
.wrapper-img_i{
	width: 33.33%;
	float: left;
	display: block;
}
.portfolio__link{
	display: inline-block;
	margin-top: 19px;
	color:  #333333;
	text-decoration: none;
}
.wrapper-img{
	position: relative;
	text-align: center;

}
.portfolio_sign{
	margin-top: 8px;
	color:  #9b9b9b;
}
.callback__wrapper{
	width: 460px;
	margin: 0 auto;

}
.icons{
	padding: 45px 0;
	width: 100%;
	display: block;
	float: left;
	background-color: #f6f6f6;
	margin: 80px 0 40px;
}
.icon_wrapper{
	text-align: center;

	
}
.icon_img{
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
}
.callback{
	margin-top: 48px;
}
.callback_title{
	font-family: "SF Display Bold";
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 32px;
}
.text_enter{
	width: 450px;
	height: 45px;
	border-radius: 3px;
	border: 1px solid #e8e8e8;
	background-color: #ffffff;
	padding-left: 10px;
}
.text_enter-big{
	width: 450px;
	padding-left: 10px;
	padding-top: 10px;
	height: 72px;
	border-radius: 3px;
	border: 1px solid #e8e8e8;
	background-color: #ffffff;
}
.checkbox{

}
.callback_text{
	margin-bottom: 20px;
	font-family: "SF Display Regular";
	font-size: 14px;
	font-weight: 400;
}
.callback_text_p{
	margin-bottom: 10px;
}
.callback__agree{
	display: inline-block;
	margin-left: 7px;
}
.callback__text_agree{
	margin-top: 17px;
}
.btn-wrapper{
	margin-top: 28px;
	margin-left: 140px;
}

.btn-send{
	width: 180px;
	height: 37px;
	background-color: #333333;
    cursor: pointer;
    border: none;
   	position: relative;
   	color:  #fff;
 }
 .btn-send::after{
 	content: '';
 	position: absolute;
 	left: 180px;
 	bottom: -1px;
 	border: 19px solid transparent;	
 	border-left: 20px solid #333333;
	
 }
 .btn-wrapper{
 	width: 75px;
	height: 15px;
	color: #ffffff;
	font-family: "SF Pro Display";
	font-size: 16px;
	font-weight: 400;
 }
 .footer__back{
 	width: 100%;
 	margin-top: 100px;
	height: 118px;
	background-image: url(../img/footer.png);
 }
 .footer__title{
 	display: inline-block;
 	margin-left: 196px;
 	margin-top: 42px;
 }
 .footer_img{
	display: inline-block;
	margin-right: 8px;
 }
 .footer_text{
 	display: inline-block;
	height: 34px;
	color: #ffffff;
	font-family: "SF Display";
	font-size: 44px;
	font-weight: 400;
 }
 .footer_desc{
	color: #ffffff;
	font-weight: 400;
	margin-top: -25px;
    margin-left: 1038px;
 }
 .hide{
 	transform: scale(0);
 	width: 0;
 	padding: 0;
 	transition: all 0.4s ease-in-out;
 }
 .header_thanks{
 	background: url('../img/bg.jpg') no-repeat top center;
	background-size: cover;
    background-position: top center;
    min-height: 100vh;
    overflow: hidden;
 }
 .descr__width_thanks{
 	margin-left: 330px;
    margin-top: 129px;
 }
 .menu-m, .menu-mobile{
	display: none;
 }
 .menu-m{
 	position: fixed;
 	z-index: 9999;
 	background: #000;
 	height: 435px;
 	width: 100%;
 	padding-top: 150px;

 }
 .menu-m__item{
 	text-align: center;
 }
 .menu-m__link{
	color: #ffffff;
	font-family: "SF Display";
	font-size: 50px;
	font-weight: 400;
	text-decoration: none;
 }
 @media(min-width : 320px) and (max-width : 480px) {
 html{
	overflow-x: hidden;
}
 .menu, .img-diskette, .img-skittles, .portfolio-line, .button{
	display: none;
}
.descr{
	margin-top: 0px;
}
.menu-mobile{
	display: block;
 }
 .descr__width, .wrapper, .text, .portfolio__wrapper, .text_enter, .text_enter-big, .skills_white_one, .callback{
 	width: 100%;
 }
.wrapper, .tabs__caption, .footer__back, .footer_desc{
	text-align: center;	
}
.portfolio__wrapper{
	margin-top: 30px;
}
.callback__wrapper{
	width: 300px;	
}
.text__skills_one{
	width: 81.67%;
}
.text__skills_two{
	width: 63.33%;
}
.text__skills_three{
	width: 45%;
}
.text__skills_four{
	width: 70%;
}
.callback_text{
	width: 97%;
}
.text__skills_five{
	width: 20%;	
}
.text__wrapper{
	margin-left: 10px;
	margin-right: 10px;
}
.text__wrapper:before{
	margin-left: 0px;
}
.text__wrapper:after{
	margin-left: 0px;
	margin-top: 30px;
}
.menu-mobile{
	z-index: 9999;
	position: absolute;
	top: 24px;
	right: 24px;
	width: 23px;
	height: 14px;
	background: url(../pic/burger.png);
}
.menu-mobile__close{
	position: absolute;
	top: 24px;
	right: 24px;
	width: 17px;
	height: 17px;
	background: url(../pic/x.png);
}
.descr_h1{
	font-size: 50px;
	padding-left: 0;
	padding-top: 156px;
}
.descr_h1:before{
	margin-top: -43px;
    margin-left: -21px;
}
.descr_h1:after{
	margin-top: 116px;
    margin-left: -287px;
}
.descr_h2{
	margin-left: 0;
}
.portfolio-li{
	display: block;
	margin-right: 0px;
	margin-bottom: 20px;
}
.wrapper-img{
	margin-top: 30px;
}
.footer__title{	
	margin-top: 32px;
	margin-left: 0;
}
.footer_desc{
	margin: 0;
	margin-top: 14px;
}
.btn-wrapper {
	margin-left: 50px;
}	